body{
    overflow: hidden;
   /* background-image:url("../images/background.gif") */
}

.main-box{
    height: 100vh;
    width: 100%;
    background-image:url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.money-tree{
    background-image: url("../images/moneytree.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    float: right;
    position: absolute;
    left: 99.6%;
    margin-top: 2%;
}

/* .money-tree:hover{
    left: 78%;
} */

.main-question-frame{
    display: block;
    position: absolute;
    bottom: 9%;
    width: 100vw;
}

/* .main-question-frame:hover {
    transform: translateY(-130px);
    transition: 1.0s;
} */

.question-itself{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto auto 6px;
    display: flex;
    background-image: linear-gradient(3deg, #1546AC, #011961);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 110px / 51px; 
    border: 3px solid #250C80;
    height: 80px;
    width: 900px;
}

.answers-border{
    width: auto;
    margin: auto;
    display: table;
}

.possible-answer{
    margin-bottom: 5px;
    background-image: linear-gradient(3deg, #1546AC, #011961);
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 86px / 51px; 
    border: 3px solid #250C80;
    height: 30px;
    width: 398px;
}

.answer-stamp-formatting{
left: 4%;
position: relative;
text-align: left;
vertical-align: -moz-middle-with-baseline;
color: #FD921E;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.answer-formatting{
color: #FAFFF9;
position: relative;
left: 4%;
vertical-align: -moz-middle-with-baseline;
}

.diamond-shape{
    color: #FAFFF9;
    position: relative;
    left: 3%;
    vertical-align: -moz-middle-with-baseline; 
}